<h3>Home page</h3>

<div>
	<p>Welcome! We've been waiting for a superhero who'd like to join our community!</p>
	<p>Start your transformation!</p>
</div>
<br />

<div>
	<h4>Pick a challenge!</h4>
	<% @categories.each do |category| %>
		<%= link_to "#{category.title}", category_path(category.id) %>
		<%= simple_format "\n" %>
	<% end %>
</div>



